<div>[Menu]
  <%= link_to "TOP", root_path %> | <%= link_to "users", users_path %>
  <% if !logged_in? %>
    | <%= link_to "Sing up", signup_path %>
  <% end %>
</div>

<% if logged_in? %>
  <div>
    [Normal Menu]
    <%= current_user.name %> | <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Logout" } %>
  </div>
  <div>
    [iosPWA Menu]
    <%= current_user.name %>
    | <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Logout" }, remote: true %>
  </div>
<% else %>
  <div>
    [Normal Menu]
    <%= link_to "Login", login_path %>
  </div>
  <div>
    [iosPWA Menu]
    <%= link_to "Login", "#{login_path}/?launcher=true" %>
  </div>
<% end %>

<hr>
